* {
    margin: 0;
    padding: 0;
  }
  
  body {
   min-height: 100vh;
  }
  .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  }
  .email-box{
    position: fixed;
    height: 65vh;
    width: 65vh;
    top: 16%;
    background-color: #fbfbfb;
    left: 1%;
    border-radius: 25px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 9999;

  }
  @keyframes slideIn {
    from {
      transform: translateY(70%);
    }
    to {
      transform: translateY(0);
    }
  }

  #email-box.open {
    display: flex;
    animation: slideIn 0.4s ease forwards;
  }

  .email-box-container{
    width: 92%;
    height: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
 
  }
  .to-box{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c5c9d0;
 
  }
  .to-box h4{
    color: #325e90;
    font-weight: bold;

  }
  .to-box span{
    font-weight: bold;
    color: #949494;
  }
 .email-textarea{
  height: 70%;
  width: 95%;
  background-color: #00000000;
  resize: none;
  border:none;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px; 
 }
 .email-chancel{
  margin-top: 5px;
  height: 8%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .email-send{
  margin-top: 5px;
  height: 8%;
  background: #32d6745c;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .top{
  width: 98%;
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 100vh;


 }
 .left-top{
  margin-top: 5px;
  width: 100%;
  height: 100%;
  display: flex;


}
.left-top-right{
  width: 30%;
  height: 100%;
  background-color: #fdfbfb;
  border-radius: 20px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;

 
}
.left-top-right-hd{
  font-size: 23px;
  height: 10%;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #414452;

  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search-box{
  width: 90%;
  margin: auto;
  display: flex;
  margin-bottom: 20px;

}
.left-top-right-content {
  height: 90%;
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto; 
  align-content: flex-start;

 
}
.nofd{
  margin-top: 130px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #949494;
}
.search-container{
  height: 40px;
  width: 80%;
  font-size: 15px;
  margin: auto;
  background-color: #e9ebec;
  border-radius: 25px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-color:rgba(14, 152, 55, 0);
  transition: border-color 0.1s ease;
}
.search-logo{
 margin-left: 8px;
}

.search-input{
  margin-left: 4px;
  height: 80%;
  width: 70%;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #e9ebec;
}
.search-container:focus-within{
  border-color:rgb(14, 152, 55);
}
.del-search{
  width: 35px;
  height: 35px;
  background-color: #807f7f00;
  color: #807f7f;
  border: none;
  border-radius: 50%;
  margin-left: 15px;
  font-size: 20px;
  transition:  background-color 0.3s ease;
}
.del-search:hover{
  background-color:#05050542;
  color: #000000;

}
.left-top-right-card{
  width: 50%;
  height: 60px;
  display: flex;
  background-color: rgba(208, 80, 80, 0);
  transition: background-color 0.3s ease;
  border: none;
  justify-content: center;
  align-items: center;
}
.left-top-right-card:hover{
  background-color: rgb(213, 213, 213);
}
.card-icon-name{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #325e90;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  text-transform: uppercase;
}
.card-name{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
}
.left-top-right-card svg{
  margin-right: 10px;
}
.left-top-left{
  width: 53%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fdfbfb;
  border-radius: 20px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
}
.left-top-header {
  font-size: 23px;
  height: 10%;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  color: #414452;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left-top-left-content {
  flex: 1;
  min-height: 60%;
  width: 95%;
  margin: auto;
  display: flex;
  overflow: auto;
  flex-direction: column;
  background-color: #ffffff00;
  scroll-behavior: smooth;

}
/* .fd-message */
.fd-message{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.time-text{
  display: flex;
  font-size: 12px;
  justify-content: center;
  color: #807f7f;
}
.fd-message-span{ 
  font-size: 14px;
  font-weight: bolder;
  color: #325e90;
}
.fd-message-div{
  margin-right: auto;
  margin-top: 10px;
  max-width: 60%;
  max-height: 400px;
  display: flex;
  border-radius: 20px;
  background: #ecebeb;

}
.fd-message-div-span{
  margin: 13px;
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  word-break: break-all;
  flex-direction: column;
}

.me-message{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.me-message h5{
  display: flex;
  justify-content: center;
  color: #807f7f;
}
.me-message-span{ 
  margin-left: auto;
  font-size: 14px;
  display: flex;
  font-weight: bolder;
  color: #325e90;
}
.me-message-div{
  margin-left: auto;
  margin-top: 10px;
  max-width: 60%;
  max-height: 400px;
  display: flex;
  border-radius: 20px;
  background:#32d674;
}
.me-message-div-span {
  margin: 13px;
  font-size: 14px;
  color: #0f0f0f;
  font-weight: normal;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  word-break: break-all;
  flex-direction: column;
}
.down-file{
  display: flex;
  width: 250px;
  height: 90px;
  border-radius: 20px;
  border: 0px solid #807f7f00;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
.down-file:hover{
  background-color: #cbcbcb;
}

.down-file-icon{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down-file-info{
  height: 100%;
  width: 70%;
  flex-direction: column;
  display: flex;
}
.dont-file-info-name{
  height: 50%;
  margin-top: 10px;
  margin-right: 10px;
  text-align: left;
  justify-content: flex-start;
  display: flex;
}
.dont-file-info-for{
font-size: 13px;
color: #949494;
justify-content: flex-start;
display: flex;
}
.left-top-left-input {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 25px;
}

.input-area {
  width: 75%;
  height: auto;
  min-height:50px;
  border-radius: 50px;
  border: 1px solid #9f9e9e;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition: border 0.1s ease;
}
.text-area{
  width: 80%;
  max-height: 160px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.input-area textarea {
  border: none;
  margin-left: 30px;
  background-color: #00000000;
  font-size: 15px;
  width: 80%;
  height: 22px;
  max-height: 160px;
  margin-top:5px;
  margin-bottom:5px;
  outline: none;
  resize:none; 
}
.input-area:focus-within {
  border:1.5px solid rgb(14, 152, 55);
}
.udfile{
  height: 86px;
  border-radius: 20px;
  background-color: #f7f7f7;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 20px;
  display: flex;
}
.file-icon{
  width: 20%;
  display: flex;
}
.file-icon svg{
  margin: auto;
}
.file-info{
  width: 65%;
  
}
.file-name{
  margin-top: 3px;
  font-size: 13px;
  width: auto;
  height: 50%;
  display: flex;
  color: #0f0f0f;
  align-items: center;
}
.file-type{
  font-size: 13px;

  color: #949494;
  height: 50%;
  display: flex;
  align-items: center;
}
.file-del{
  width: 15%;
  height: 100%;
}

.file-button input{
  display: none;
}
.me-send-button{
  width: 45px;
  height: 45px;
  margin-right: 5px;
  background:#32d6745c;
  color: #060606;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.file-me-send-button{
  width: 45px;
  height: 45px;
  margin-right: 5px;
  background:#32d6745c;
  cursor: pointer;
  color: #0c0c0c;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 0.3s ease;
}
.file-button{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#05050500;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  color: rgb(160, 159, 159);
  transition: background-color 0.3s ease;
}
.file-button:hover{
  background-color:#05050542;
  color: rgb(0, 0, 0);
}
.del-file-button{
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color:#b8262626;
  border-radius: 50%;
  border: none;
  color: rgb(160, 159, 159);
  transition: background-color 0.3s ease;
}
.del-file-button:hover{
  background-color:#e23030;
  color: rgb(0, 0, 0);
}
/* .fd-message end */
.right-top {
  background-color: #fdfbfb;
  height: 100%;
  width: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
}

.right-top-header {
  font-size: 23px;
  height: 10%;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #414452;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-top-content {
  margin-top: 5px;
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: auto; 

}
.wait-card{
  height: 80px;
  width: 100%;
  display: flex;
  background-color: rgb(223, 221, 221);
  border: none;
  border-bottom: 1px solid #c5c9d0;
  border-radius: 5px;
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5px;
  transition: background-color 0.3s ease;
}

.right-card{
  height: 80px;
  width: 100%;
  display: flex;
  background-color: rgba(118, 209, 118, 0);
  border: none;
  border-top: 1px solid #b4b8c0;
  border-radius: 5px;
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5px;
  transition: background-color 0.3s ease;
}

.right-card:hover{
  background-color: rgb(66, 133, 233);
}
.right-card:hover a{
  color: #ffffff;
}
.right-card:hover span{
  color: #ffffff;
}
.right-card:hover .right-card-svg{
  color: #ffffff;
}
.right-card:hover .sendbutton{
  color: #ffffff;
}
.right-card-svg
{

 height: 100%;
 width: 15%;
 margin-left: 5px;
 

}
.card-info
{
 
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
 
}
.card-info a{

  color: #325e90;
  font-weight: bold;
  margin-bottom: 4px;
  height: 50%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card-info span{

  color: #414452;
  font-size: 12px;
  height: 50%;
}
.sendbutton{

  height: 100%; 
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}








 footer {
   height: 80px;
   background-color: aqua;
 }