* {
    margin: 0;
    padding: 0;
  }
  
  body {
   min-height: 100vh;
  }
  .container{
  width: 100%;
  height: 100%;
  display: flex;
  

  }
 .left{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;

 }
 .left-top{
  width: 97%;
  height: 120vh;
  background-color: #fdfbfb;
  border: solid 0.5px;
  margin: 10px;

}
.left-top-header {
  font-size: 35px;
  margin-top: 10px;
  color: #414452;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-end{
  width: 97%;
  height: 50vh;
  background-color: rgb(210, 210, 210);
  margin: 10px;
}
 
 .right {
   width: 30%;
   height: 100vh;
   display: flex;
   flex-direction: column;

 }

 .right-top {
  background-color: #fdfbfb;
  height: 60vh;
  min-height: 60vh;
  width: 95%;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
}

.right-top-header {
  font-size: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: #fdfbfb;
  background-color: #414452;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto; 

}
.right-card{
  height: 50px;
  width: 80%;
  display: flex;
  background-image: linear-gradient( 135deg, #d9dfdc 10%, #d4d3d3 100%);
  border-radius: 5px;
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
  font-size: 1.5vw;
}

.right-card-svg
{
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
 margin-left: 15px;
}
.right-card span
{
margin: auto;
}
.sendbutton{
  margin-left: auto;
  height: 100%; 
  width: 50px;
  background-color: rgb(118, 209, 118);
  transition: background-color 0.3s ease;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wait{
  margin-left: auto;
  height: 100%; 
  width: 50px;
  background-color: rgb(153, 153, 153);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-card button:hover{
  background-color: rgb(92, 160, 92);
}


 .right-end {
   background-color: #fdfbfb;
   border: solid 0.5px;
   height: 50vh;
   width: 95%;
   margin: 10px;
   text-align: center;
 }
 .right-end-header {
  font-size: 25px;
  margin-top: 10px;
  color: #414452;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 footer {
   height: 80px;
   background-color: aqua;
 }