*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffff,#d5f1d4);
}
.container{
    background-color: #fff;
    width: 975px;
    height: 622px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}  
.form-box{
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: #ffffff; 
    width: 480px;
    height: 750px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.468);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s ease-in-out;

}

.register-box,.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
form{
    width: 100%;
}
.hidden{
    display: none;
    transition: 0.5s;
}
h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 45px;
    text-transform: uppercase;
    color: #5f6878;
   /* //1    1// */
   letter-spacing: 5px;
}
input,select{
    background-color: transparent;
    width: 100%;
    color: #5f6878;
    border: none;
    border-bottom: 3px solid rgba(106, 106, 106, 0.4);
    padding: 20px 0;
    text-indent: 10px;
    margin: 8x 0;
    font-size: 25px;
    letter-spacing: 2px;
}
select::placeholder{
    color: #5f6878;
}
select:focus{
    color: #0080f8;
    outline: none;
    border-bottom: 2px solid #0080f8;
    transition: 0.5s;
}
input::placeholder{
    color: #5f6878;
}
input:focus{
    color: #0080f8;
    outline: none;
    border-bottom: 2px solid #0080f8;
    transition: 0.5s;
}
input:focus::placeholder{
    opacity: 0;
}
.form-box button{
    width: 100%;
    margin-top: 35px;
    background-color: #98ed85;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #5f6878;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    font-size: 30px;
}
.form-box button:hover
{
    background-color: #2df400;
    color: #000000;
    transition: background-color 0.5s ease;
}  
/* // info login and reg / */
.con-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.con-box.left{
    left: -2%;
}
.con-box.right{
    right: -2%;
}
.con-box h2{
    color: #5f6878;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
}
.con-box p{
    font-size: 25px;
    letter-spacing: 1px;
    color: #5f6878;
    text-align: center;
}
.con-box span{
    color: #0ba800;
}
.con-box img{
 margin: 40px 0;   
}
.con-box button{
    margin-top: 8%;
    background-color:#fff ;
    color: #5f6878;
    border: 2px solid #000000;
    padding:  10px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}
.con-box button:hover{
    background-color: #2df400;
    color: #000000;
}

.error-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    z-index: 9999;
}

.alert {
    position: relative;
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    text-align: center;
    
}

.alert strong {
    font-size: 24px;
}

.alert #alerttext {
    margin-top: 10px;
    font-size: 20px;
}

.alert .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #721c24;
}
