* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    background: linear-gradient(#ffffff,#d5f1d4);
  }
  
  .left-box{
    height:100vh;
    width:8%;
  }
  .left {
    background-color: rgba(255, 255, 255, 0.214);
    width: 8%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
    z-index: 3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }
  .leftheader{
    background-color: #ffffff;
    height: 70px;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
  }
 
   .left-list{
    font-size: 15px;
 
   }
   .left-list button{
    height: 50px;
    width: 100%;
    border: none;
    padding-left: 20px;
    text-align: left;
    background-color: rgba(240, 248, 255, 0);
    transition: background-color 0.3s ease;
   }
   .left-list button:hover{
    background-color: rgba(211, 211, 211, 0.439);
   }
   .left-list button a{
    color: #414452;
    text-decoration: none;
   }



  .lgb{
    height: 60px;
    border: none;
    margin-top: 85px;
    background-color: rgba(240, 248, 255, 0);
    transition: background-color 0.3s ease;
    }
    .lgb:hover{
      background-color: rgba(211, 211, 211, 0.439);
    }
   .lgb a{
    font-size: 35px;
    color: #414452;

    text-decoration-style: double;
   }

  .right {
    display: flex;
    width: 92%;
    height: 100vh;
    flex-direction: column;
    position: relative;
  }
  /* header */
  .top {
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
    
  }
  .top-left{
    width: 80%;

    background-color: #003512;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
  }
  .top-right{
    width: 20%;
    margin-right: auto;
    display: flex;
    background-color: #996600;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
  }
  .message-button{
    height: 100%;
    width: 100%;
    margin-left: auto;
    display: inline-block;
    border: none;
    position: relative;
    color: #ffffff;
    background-color: #99660000;
    transition: background-color 0.3s ease;
  }
  .message-button div{
    position: absolute;
    background-color: crimson;
    width: 30px;
    border-radius: 50%;
    top: 8px;   /* 距离顶部的偏移量 */
    right: 55px;
  }
  

  .message-button:hover{
    background-color: #c0c0c09a;
  }
  /* .message-box */
  .message-box {
    margin-top: 8px;
    height: 600px; 
    width: 450px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.6);
    position: absolute;
    background-color: #edeff3;
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    display: none;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .message-box-header {
    font-size: 20px;
    height: 10%;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    background-color: #ffffff;
    color: #414452;
    font-weight: bold;
  }
  .message-box-header span{
    width: 70%;
    margin: auto;

  }
  .close-button {
    width: 60px;
    height: 100%;
    border: none;
 
    margin-left: auto;
    background-color: #00000000;
    transition: background-color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: red;
  }
  
  .message-box-content {

    overflow: auto;
    width: 90%;
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .me-time{
    text-align: center;
    margin: 8px;
    font-size: 18px;
    color: #727580;
  }

  .message-box-content ul {
    list-style: none;
    padding: 0;
    margin: 0;   
   
  }

  .message-box-content li {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    border-radius: 10px;
    max-height: 300px;
    min-height: 190px;
    word-wrap: break-word; 
    word-break: break-word; 
 
  }
    .me-content {
      width: 100%;
      font-size: 18px;
      min-height: 100%;
      max-height: 300px;
      display: flex;
      flex-direction: column;
    }
  
    .me-text {
      margin-top: 5px;
      height: 80%;
      flex-wrap: wrap;
      overflow: auto;
    }
  
    .me-from {
      color: rgb(0, 0, 0);
      display: inline-block;
      width: 100%;
      margin: auto;
    
      font-size: 20px;
  
    }
    .me-from span{
      color: #325e90;
      font-weight: bold;
    }
    .message-box-content p{
     font-size: 30px;
     margin: auto;
    }
    .button-container{
      display: flex;
      flex-direction: row-reverse;
    }
  .delete-button{
    width: 40px;
    height: 40px;
    margin-left: 3px;
    border: none;
    background-color: #e5e5e5;
    transition: background-color 0.3s ease;
  }
  .delete-button:hover{
    background-color: #706f6f;
  }
  .okbutton{

    width: 40px;
    height: 40px;
    margin-left: 3px;
    border: none;
    background-color: #87fc75;
    transition: background-color 0.3s ease;
  }
  .okbutton:hover{
    background-color:#4f9d43;
  }
  .nobutton{

    width: 40px;
    height: 40px;
    margin-left: 3px;
    border: none;
    background-color: #fc6a4d;
    transition: background-color 0.3s ease;
  }
  .nobutton:hover{
    background-color:#7d2920;
  }
    /* .message-box end*/
  .btn-group{
    border-radius: 0px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .btn{
    --bs-btn-color: #ffffff;
  }
  .right-main {
    display: flex;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-top: 70px; 
    box-sizing: border-box;
  }
  .right-main iframe{
    height: 100%;
    width: 100%;
    border: none;
  }
 .dropdown-item{
  font-size: 20px;
 }